@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
    font-size: 30;
    font-family: 'Redressed', cursive;
}


div {
    width: 550px;
    /* Largura */
    height: 200px;
    /* Altura */
overflow: auto;
/* comportamento do ajuste  */
    background-color: sandybrown;

}